<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
        <label>user name</label>
        <input type="text" id="name" name="name_val"><br>
        <label>password</label>
        <input type="password" id="pass" name="pass_val"><br>
        <button type="submit" onclick="login()">submit</button>
        <script>
            function login() {
                var username = document.getElementById('name').value;
                var password = document.getElementById('pass').value;
    
                // Perform validation if needed
    
                // Use Axios to send a POST request to the server
                axios.post('/login', { username: username, password: password })
                    .then(response => {
                        console.log(response.data);
                        // // Handle the response from the server
                        // var data = response.data;
                        // if (data.success) {
                        //     alert('Login successful');
                        //     // You can redirect or perform other actions as needed
    
                        //     // Clear the input fields if needed
                        //     document.getElementById('name').value = '';
                        //     document.getElementById('pass').value = '';
                        // } else {
                        //     alert('Login failed: ' + data.message);
                        // }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>
</body>

</html>